body {
	background-color: white;
}
h3 {
	display: inline-block;
	color: white;
	margin: 20px;
	font-size: 14px;
}


.header {
	background-color: #5f7c86;
	margin-bottom: 30px;
}

.container {
	text-align: center
}

body {
	font-family: 'Lato', sans-serif;
	color : lightgrey;

}
#logo {
	float : right;
}
.main {
	margin: 30px;
}
h1 {
	font-weight: bold;
	font-size: 50px;

}
.fa {
	color : grey;
	margin-right: 20px;
}
#projects {
	height: 50px;
	width : 150px;
	margin: 30px;
	font-color : grey;
	font-size: 20px;
}
#projects:hover {
	background-color: #5f7c86;
}

a:link {
	color : #5f7c86 ;
}
a:visited {
	color : grey;
}