body {
	background-color: white;
	font-family: 'Lato', sans-serif;
	color : lightgrey;
}
h3 {
	display: inline-block;
	color: white;
	margin: 20px;
	font-size: 14px;
}

/*Main Page*/
.header {
	background-color: #5f7c86;
	margin-bottom: 30px;
	width : 100%;
}

.container {
	text-align: center;
	margin: 0 auto;
}

#logo {
	float : right;
}
.main {
	margin: 30px;
}
h1 {
	font-weight: bold;
	font-size: 50px;

}
.fa {
	color : grey;
	margin-right: 20px;
	margin-top: 10px;
}
.projects {
	height: 50px;
	width : 150px;
	margin: 30px;
	color : #5f7c86;
	font-size: 20px;
}
.projects:hover {
	background-color: lightgrey;
}

a:link {
	color : white ;
}
a:visited {
	color : white;
}
#nathan {
	margin-left: 20px;
	margin-bottom: 20px;
}

/*Projects Page*/
.card {
	margin : 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	align-content: center;

}
#creep {
	margin-top: 20px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
#logo {
	border-right: solid;

}
.card-header {
	font-size: 30px;
	font-weight: bolder;
	background-color : #5f7c86;

}
.learn {
	background-color: #5f7c86;
	margin-top: 20px;
	border-style: none;
	height : 40px;
	width: 125px
}
.learn:hover {
	background-color: grey;
}
#myProjects {
	margin-bottom: 40px;
}

@media screen and (max-width: 765px) {
	#logo {
		border-right: none;
	}
	#creep {
		margin-bottom: 20px;
	}

}